/* Ansi Shadow
██████╗  █████╗ ██╗     ███████╗████████╗ █████╗                              
██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝██╔══██╗                             
██████╔╝███████║██║     █████╗     ██║   ███████║                             
██╔═══╝ ██╔══██║██║     ██╔══╝     ██║   ██╔══██║                             
██║     ██║  ██║███████╗███████╗   ██║   ██║  ██║                             
╚═╝     ╚═╝  ╚═╝╚══════╝╚══════╝   ╚═╝   ╚═╝  ╚═╝                             
                                                                              
██████╗ ███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗███████╗
██╔══██╗██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝██╔════╝
██║  ██║█████╗      ██║     ██║   ██║██║     ██║   ██║██████╔╝█████╗  ███████╗
██║  ██║██╔══╝      ██║     ██║   ██║██║     ██║   ██║██╔══██╗██╔══╝  ╚════██║
██████╔╝███████╗    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████╗███████║
*/
:root {
    --fondobody: #F6EEDB;
    --fondos:#4BBBFA;
    --hover: #000000;
    --nav: #ffffff;
    --textparr: #146B9C;
}
/* 
██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ███████╗███████╗
██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
██║  ███╗██║     ██║   ██║██████╔╝███████║██║     █████╗  ███████╗
██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██╔══╝  ╚════██║
╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗███████╗███████║
 ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝
  */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--fondobody);

}


.contHeader {
    background-color: var(--fondos);
    width: 100%;

}
.bgHero {

    margin: 0 0 0 20%;
    background-image: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    width: 60rem;
    height: 19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 13rem;
    height: 13rem;
}
.contLk {
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.contLk a:hover {
    background-color: var(--nav);
    color: var(--hover);
    border-radius: 0.5rem;
}
.lk {
    text-decoration: none;
    color: var(--nav);
    padding: 0.3rem;
    font-size: 1.5rem;
    
}

.promo1{
    padding: 2rem;
    
}
.icon {
    max-width: 3rem;
}
.cont-foot {
    background-color: var(--fondos);
    width: 100%;
    display: grid;
    grid-template-rows: 50 50%;
    grid-template-columns: 50% 50%;
   

}
.footer {
    
   
}

.redes {
   

}

/* 
██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗ */

.destacados {
    display: grid;
    width: 100%;
    height: 20rem;
    background-color:rgba(0, 0, 0, 0.3);
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: prod1 img1 prod2 img2;
    column-gap: 5rem;

   
}
.prod1 {
    text-align: center;
    
}

.promo1{
    margin:0 33%;
}
.slider {
    background-color:rgba(0, 0, 0, 0.3);
    margin: 0 10%;
    width: 80rem;
    height: 35rem;

}
/* 
███╗   ██╗ ██████╗ ███████╗ ██████╗ ████████╗██████╗  ██████╗ ███████╗
████╗  ██║██╔═══██╗██╔════╝██╔═══██╗╚══██╔══╝██╔══██╗██╔═══██╗██╔════╝
██╔██╗ ██║██║   ██║███████╗██║   ██║   ██║   ██████╔╝██║   ██║███████╗
██║╚██╗██║██║   ██║╚════██║██║   ██║   ██║   ██╔══██╗██║   ██║╚════██║
██║ ╚████║╚██████╔╝███████║╚██████╔╝   ██║   ██║  ██║╚██████╔╝███████║
╚═╝  ╚═══╝ ╚═════╝ ╚══════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝ */


/* 
███████╗███████╗██████╗ ██╗   ██╗██╗ ██████╗██╗ ██████╗ ███████╗
██╔════╝██╔════╝██╔══██╗██║   ██║██║██╔════╝██║██╔═══██╗██╔════╝
███████╗█████╗  ██████╔╝██║   ██║██║██║     ██║██║   ██║███████╗
╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██║██║     ██║██║   ██║╚════██║
███████║███████╗██║  ██║ ╚████╔╝ ██║╚██████╗██║╚██████╔╝███████║
╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚═╝ ╚═════╝╚═╝ ╚═════╝ ╚══════╝ */
/* 
██████╗  █████╗ ██╗     ███████╗██████╗ ██╗ █████╗ 
██╔════╝ ██╔══██╗██║     ██╔════╝██╔══██╗██║██╔══██╗
██║  ███╗███████║██║     █████╗  ██████╔╝██║███████║
██║   ██║██╔══██║██║     ██╔══╝  ██╔══██╗██║██╔══██║
╚██████╔╝██║  ██║███████╗███████╗██║  ██║██║██║  ██║ */

.galeria {
    width 100%;
    height: 50rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "foto1 foto2 foto3 foto4"
                         "foto5 foto6 foto7 foto8"
                         "foto9 foto10 foto11 foto12";
    gap: 0.5rem;

}

.foto1 {
    grid-area: foto1;
    justify-items: start;
    align-items: center;
}
.foto2 {
    grid-area: foto2;
    justify-items: start;
    align-items: center;

}



/* 
██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗ ██████╗ 
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝██╔═══██╗
██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║   ██║   ██║
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║   ██║   ██║
╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║   ╚██████╔╝
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝    ╚═════╝ 
                                                                       */